.cell{
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

.cell img{
  width: 70%;
  pointer-events: none;
}

.valid{
  background-color: green !important;
}

.formulaire{
  width: 50%;
  margin: auto;
  gap: 10px;
  padding: 20px;
}

.actions{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  max-height: 100%;
}